--trusted-host etec.iv.at:8123
--extra-index-url http://etec.iv.at:8123

certifi==2024.12.14 ; python_version >= "3.13" and python_version < "4.0"
charset-normalizer==3.4.1 ; python_version >= "3.13" and python_version < "4.0"
fridagram==0.1.15 ; python_version >= "3.13" and python_version < "4.0"
idna==3.10 ; python_version >= "3.13" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.13" and python_version < "4.0"
setproctitle==1.3.4 ; python_version >= "3.13" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.13" and python_version < "4.0"
urllib3==2.3.0 ; python_version >= "3.13" and python_version < "4.0"
