[Unit]
Description=Guck4
After=network.target

[Service]
ExecStart=~/.virtualenvs/abteim/bin/abteim
ExecStop=/usr/bin/pkill -f -15 abteim
KillMode=process


[Install]
WantedBy=default.target


