[Unit]
Description=abteim
After=network.target

[Service]
ExecStart=/home/USER_XY/.virtualenvs/abteim/bin/abteim
ExecStop=/usr/bin/pkill -f -15 abteim
KillMode=process

[Install]
WantedBy=default.target


